@use '../_variables.scss' as *;
@use '../_mixins.scss' as *;

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;

  &__header {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    user-select: none;
  }

  &__logoBtn {
    border-radius: .5rem;
  }

  &__logoBtn:focus-visible {
    @include focus-ring;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    user-select: none;
  }

  &__legend {
    opacity: .9;
  }

  &__breadcrumbs {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  &__main {
    display: flex;

    gap: 24px;

  }

  &__listCol {
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  &__detailsCol {
    width: $details-w;
    max-width:100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}


@media all and (max-width:1000px) {
  .app__main {
    flex-wrap: wrap;
  }

  .app__detailsCol {
    flex-grow:1;
  }
}