@use '../_variables.scss' as *;
@use '../_mixins.scss' as *;

.filelist {

  overflow: hidden;

  @include card;

  &__go-up-btn {
    padding:5px 0 5px 15px;
    font-weight:600;
    font-size:.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display:block;
    width:100%;
    text-align:left;
  }

  &__scroll-container {
    height: calc(100vh - 250px);
    overflow: auto;
   
  }

  &__scroll-container:focus,
  &__scroll-container:focus-visible {
      @include focus-ring;
  }

  &__row {
    display: flex;
    gap: .75rem;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: .5rem 1rem;
    transition: background .12s ease;
  }

  &__row:hover {
    background: rgba(0, 0, 0, .04);
  }

  &__row:focus-visible {
    outline: none;
  }

  &__row:focus {
    outline: none;
  }

  &__row.is-selected {
    background: rgba(0, 0, 0, .06);

    &__row.is-selected:focus-visible {
      outline: none;
    }

  }

  &__icon {
    width: 1.25rem;
    text-align: center;
  }

  &__name {
    font-weight: 500;
    min-width: 0;
    /* required for ellipsis in grid/flex */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__meta {
    margin-left: auto;
    font-size: .75rem;
    opacity: .7;
    white-space: nowrap;
  }

  &__empty {
    padding: 1rem;
    text-align: center;
    opacity: .7;
  }
}